extends layout

block content
  .row
    .col-md-3
      br
      p.lead Thông Tin Tuyển Sinh
        |                 
        .list-group
        - if(user.privilege=='Admin'){
          a.list-group-item(href='/truong') Danh Sách Trường
          |                     
          a.list-group-item(href='/nganh') Danh Sách Ngành Thi
          |                     
          a.list-group-item(href='/khoi') Danh Sách Khối Thi
          |                     
          a.list-group-item(href='/thisinh') Danh Sách Thí Sinh
          |                     
          a.list-group-item(href='/hsthisinh') Danh Sách Hồ Sơ Thí Sinh
          |                     
          a.list-group-item(href='/tttuyensinh') Thông Tin Tuyen Sinh
          |                     
          a.list-group-item(href='/ketquathi') Danh Sách Kết Quả Thi
          |                     
          a.list-group-item(href='/timkiem') Tìm Kiếm Thí Sinh
          |                     
          a.list-group-item(href='/dsthido') Danh Sách Thi Đỗ Đại Học
        - } else if (user.privilege=='Tuyensinh'){
          a.list-group-item(href='/truong') Danh Sách Trường
          |                     
          a.list-group-item(href='/nganh') Danh Sách Ngành Thi
          |                     
          a.list-group-item(href='/khoi') Danh Sách Khối Thi
        - } else{
          a.list-group-item(href='/thisinh') Danh Sách Thí Sinh
          |                     
          a.list-group-item(href='/hsthisinh') Danh Sách Hồ Sơ Thí Sinh
          |                     
          a.list-group-item(href='/tttuyensinh') Thông Tin Tuyen Sinh
          |                     
          a.list-group-item(href='/ketquathi') Danh Sách Kết Quả Thi
          |                     
          a.list-group-item(href='/timkiem') Tìm Kiếm Thí Sinh
          |                     
          a.list-group-item(href='/dsthido') Danh Sách Thi Đỗ Đại Học
        - }
    .col-md-9
      
