extends layout

block content
    .row
        .col-md-3
            br
            p.lead Thông Tin Tuyển Sinh
                |                 
                .list-group
                - if(user.privilege=='Admin'){
                    a.list-group-item(href='/truong') Danh Sách Trường
                    |                     
                    a.list-group-item(href='/nganh') Danh Sách Ngành Thi
                    |                     
                    a.list-group-item(href='/khoi') Danh Sách Khối Thi
                    |                     
                    a.list-group-item(href='/thisinh') Danh Sách Thí Sinh
                    |                     
                    a.list-group-item(href='/hsthisinh') Danh Sách Hồ Sơ Thí Sinh
                    |                     
                    a.list-group-item(href='/tttuyensinh') Thông Tin Tuyen Sinh
                    |                     
                    a.list-group-item(href='/ketquathi') Danh Sách Kết Quả Thi
                    |                     
                    a.list-group-item(href='/timkiem') Tìm Kiếm Thí Sinh
                    |                     
                    a.list-group-item(href='/dsthido') Danh Sách Thi Đỗ Đại Học
                - } else if (user.privilege=='Tuyensinh'){
                    a.list-group-item(href='/truong') Danh Sách Trường
                    |                     
                    a.list-group-item(href='/nganh') Danh Sách Ngành Thi
                    |                     
                    a.list-group-item(href='/khoi') Danh Sách Khối Thi
                - } else{
                    a.list-group-item(href='/thisinh') Danh Sách Thí Sinh
                    |                     
                    a.list-group-item(href='/hsthisinh') Danh Sách Hồ Sơ Thí Sinh
                    |                     
                    a.list-group-item(href='/tttuyensinh') Thông Tin Tuyen Sinh
                    |                     
                    a.list-group-item(href='/ketquathi') Danh Sách Kết Quả Thi
                    |                     
                    a.list-group-item(href='/timkiem') Tìm Kiếm Thí Sinh
                    |                     
                    a.list-group-item(href='/dsthido') Danh Sách Thi Đỗ Đại Học
                - }
        .col-md-9
            ul.errors  
            br
            h1 Tạo Mới Hồ Sơ Thí Sinh Tham gia Tuyển Sinh
            if errors
                    each error, i in errors
                        li.alert.alert-danger #{error.msg}
            form(method='post', action='/hsthisinh/new', enctype='multipart/form-data')
                .form-group
                    label ID
                    input.form-control(name='id',type='text',placeholder='ID')
                .form-group
                    label Mã Trường
                    input.form-control(name='idSchool',type='text',placeholder='Mã Trường')
                .form-group
                    label Mã Ngành
                    input.form-control(name='idBranch',type='text',placeholder='Mã Ngành')
                .form-group
                    label Tên Khối
                    input.form-control(name='nameUnit',type='text',placeholder='Tên Khối')
                .form-group
                    label Số Báo Danh
                    input.form-control(name='idNum',type='text',placeholder='Số Báo Danh')
                .form-group
                    label Tổng Điểm
                    input.form-control(name='total',type='text',placeholder='Tổng Điểm')
                .form-group 
                    label Mã Địa Điểm
                    input.form-control(name='idAddress',type='text',placeholder='Mã Địa Điểm')
                .form-group
                    label Số Phòng
                    input.form-control(name='numRoom',type='text',placeholder='Số Phòng')
                .form-group
                    label Mã Trường 2
                    input.form-control(name='idSchool2',type='text',placeholder='Mã Trường 2')
                .form-group
                    label Mã Ngành
                    input.form-control(name='idBranch2',type='text',placeholder='Mã Ngành')
                .form-group
                    label Nguyện Vọng 2(3)
                    input.form-control(name='aspiration',type='text',placeholder='Nguyện Vọng 2(3)') 
                input.btn.btn-default(name='submit', type='submit', value='Tạo Mới')